 *{
  margin: 0 auto;
  padding-top: 0px;
 }
 .box{
  width:1500px;
  height:100px;
  background-color:aqua;
 }
  .box img{
    width: 150px;
    margin:10px
  }
  .box li{
    float: right;
    list-style: none;
    text-decoration: none ;
    margin: 20px;
    background-color: aquamarine;
    padding: 20px;
    border-radius: 10px;
    font-size: large;
    display: inline-block;
  }
  .box li a{
    list-style: none ;
    text-decoration: none;
  }
  .box li:hover{
    background-color: rgb(198, 68, 8);
    color: aqua;
  }
 .box banner{
  width: 200px;
  margin:0 auto;
 }